@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    background-color: rgb(56, 56, 95);
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    max-width: 600px;
    border-radius: 15px;
    margin: 80px auto 0;
    padding: 20px 10px;
    background-color: #fff;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    button:first-child {
        margin-right: 20px;
    }
}

input {
    width: 100%;
    display: inline-block;
    border: 1px solid darkgrey;
    padding: 10px 15px;
    border-radius: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-width: 120px;
    width: 100%;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    padding: 10px 5px;
    box-shadow: none;
    border-radius: 30px;
    border: none;
    transition: .3s linear;
    cursor: pointer;
}

.btn {
    background-color: #000;
}

.form-control {
    padding: 10px 0 20px;
    border-bottom: 1px solid darkcyan;
    margin-bottom: 20px;
}

.field-input {
    margin-bottom: 15px;
}

.primary {
    background-color: rgb(23, 123, 88);
    &:hover {
        background-color: rgb(39, 152, 113);
    }
}

.primary-color {
    color: rgb(23, 123, 88);
}

.bold {
    font-weight: 600;
}

.danger {
    background-color: rgb(231, 68, 68);
    &:hover {
        background-color: rgb(227, 118, 118);
    }
}

.card {
    width: 100%;
}

.submit {
    border: 1px solid rgb(23, 123, 88);
    background-color: transparent;
    color: rgb(23, 123, 88);
    max-width: 136px;
    &:hover {
        background-color: rgb(23, 123, 88);
        color: #fff;
    }
}

.list {
    padding: 0 0 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    &-item {
        display: grid;
        grid-template-columns: 1fr 120px;
    }
    &-count {
        border-top: 1px solid rgb(65, 64, 62);
        margin-top: 10px;
        padding-top: 10px;
    }
}

.d-none {
    display: none;
}